@import './_grid.css';

:root{
  --main-color : #069c54;
  --main-color-alt : #048654;
  --title-color : #393939;
  --text-color : #707070;
  --text-color-light : #a6a6a6;
  --body-color : #fbf3fd;
  --container-color : #ffffff;
}
@font-face{
    font-family: pappins;
    src: url(/fonts/Poppins-Regular.ttf);
}
*{
    box-sizing: border-box;
    padding: 0px ;
    margin: 0px;
    font-family: 'pappins';
    
}

.section-heading{
 text-align: center;
  color: var(--main-color); 
}
.section-sub-heading{
  text-align: center;
  color: var(--title-color);
}
/*class for products in Product menu*/
.product{
  background-color: var(--container-color);
    border-radius: 10px;
    position: relative;
    margin-top: .7rem;
    box-shadow: 0px 0px 9px 1px lightgrey;
    -webkit-box-shadow: 0px 0px 9px 1px lightgrey;
    
}
.product p {
  padding-left: .5rem ;
}
.img-product{
  padding: 5px 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
}
.shoping-icon{
  color:var(--container-color);
  background-color: var(--main-color);
    padding: 8px;
    position: absolute;
    right: 0;
    bottom: 0;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
}
